<H3><%= link_to activity.title, activity %></h3>

<p>
  <strong>Estimated time:</strong>
  <%= activity.estimated_time %>
</p>


<p>
  <strong>Location:</strong>
  <%= activity.location %>
</p>

<p>
	<%= link_to "Read More", activity %>
	</p>
<hr>