<div class = "container">

  <div class = "nav">
    <ul>
      <li>About</li>
      <li>Add an Activity</li>
    </ul>
  </div>
  
  <div class = "body">
    <div class = "site-title"><h1>Save the World...</h1></div>
    <div class = "site-tagline"><h2>...30 Minutes at a Time</h2></div>
    <div class = "activity">
      <div class = "activity-title">
        <%= @activities.find(rand(1..@activities.count)).title %>
        <!-- take this above out and put in a helper? -->
      </div>
      <div class = "activity-text"></div>
      <div class = "buttons">
        <button type = "button">Give me more info</button>
        <button type = "button">Next Idea</button>
      </div>
    </div>
  </div>
  <div class = "footer"><a href="">Contact</a></div>
</div>