<h1>Save the World in 30 Minutes</h1>
<p>Sometimes the world seems like a messed up place and it can feel overwhelming. But you'd be surprised at the number of things normal, everyday people can do to save the world in their spare time.</p>

<p>Below is a list of activities anyone can undertake to help save the world in small ways. Some of these will take as little as 30 minutes of your time. </p>
<p> If you have an idea for a new activity, please <a href="mailto:tracy.musung@moomumedia.com">contact me</a> and I can add it to the list.</p>


 <%= render :partial => @activities %>

<%= link_to 'New Activity', new_activity_path %>
