<div class="row">
  <div class="title col-sm-2"></div>
  <div class="title col-sm-6">
  <div class="title col-sm-4"></div>
    <h1>Save the World...</h1>
  </div>
</div>
<div class="row">
  <div class="title col-sm-2"></div>
  <div class = "tagline col-sm-6">
  <div class="title col-sm-4"></div>

    <h3>...30 Minutes at a Time</h3>
  </div>
</div>
<div class="row">
  <div class="title col-sm-2"></div>
  <div class = "activity col-sm-6">
    <%= @activities.find(rand(1..@activities.count)).title %>
  </div>
  <div class="title col-sm-4"></div>
</div>
<div class = "row">
  <div class="title col-sm-2"></div>
  <div class="col-sm-3">
    <button type = "button info">Give me more info</button>
  </div>
  <div class="col-sm-3 ">
      <button type = "button next">Next Idea</button>
  </div>
  <div class="title col-sm-4"></div>
</div>
