<div class="row">
  <div class="title col-sm-2"></div>
  <div class="title col-sm-8 text-center">
    <h1>Got a Spare 30 Minutes?</h1>
  </div>
  <div class="title col-sm-2"></div>
</div>
<div class="row">
  <div class="title col-sm-4"></div>
  <div class = "tagline col-sm-4">
    <h3>Why Don't You...</h3>
  </div>
  <div class="title col-sm-4"></div>
</div>
<div class="row text-center">
  <div class="title col-sm-2"></div>
  <div class = "activity col-sm-8">
    <%= @activities.find(rand(1..@activities.count)).title %>
  </div>
  <div class="title col-sm-2"></div>
</div>
<div class = "row">
  <div class="title col-sm-3"></div>
  <div class="col-sm-3">
    <a href="/" class="btn btn-info" role="button">Give Me More Info <i class='glyphicon glyphicon-thumbs-up'></i></a>
  </div>
  <div class="col-sm-3">
    <a href="/" class="btn btn-info" role="button">No Good, Next Idea     <i class='glyphicon glyphicon-thumbs-down'></i></a>
  </div>
  <div class="title col-sm-3"></div>
</div>
